<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li>
            <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" type="button"
                (click)="navigate('')">Home</a>
        </li>
        <li>
            <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" type="button"
                (click)="navigate('about')">Generic</a>
        </li>
        <li>
            <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" type="button"
                (click)="navigate('elements')">Elements</a>
        </li>
        <li>
            <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" type="button"
                (click)="navigate('test')">test</a>
        </li>
    </ul>
</nav>